# Ignore directories in any of the sub-directories
/.vs

venv/
dist/
electron-out/

**/.vscode
**/.idea
**/logs
**/tmp
**/node_modules
**/__pycache__

**/media

package-lock.json
jsconfig.json

# SQL Lite
ramalan_api/ramalan

ramalan_detection_engine/HikvisionClient/.vs
ramalan_detection_engine/HikvisionClient/Client/bin
ramalan_detection_engine/HikvisionClient/Client/obj
ramalan_detection_engine/HikvisionClient/HikvisionServiceClient/bin
ramalan_detection_engine/HikvisionClient/HikvisionServiceClient/obj

ramalan_detection_engine/RDESimulator/.vs
ramalan_detection_engine/RDESimulator/RDESimulator/bin
ramalan_detection_engine/RDESimulator/RDESimulator/obj

ramalan_detection_engine/HikvisionDetectionEngine/.vs
ramalan_detection_engine/HikvisionDetectionEngine/HikvisionDetectionEngine/bin
ramalan_detection_engine/HikvisionDetectionEngine/HikvisionDetectionEngine/obj
ramalan_detection_engine/HikvisionDetectionEngine/HikvisionDetectionEngineConsole/bin
ramalan_detection_engine/HikvisionDetectionEngine/HikvisionDetectionEngineConsole/obj
ramalan_detection_engine/HikvisionDetectionEngine/HikvisionDetectionEngineService/bin
ramalan_detection_engine/HikvisionDetectionEngine/HikvisionDetectionEngineService/obj
ramalan_detection_engine/HikvisionDetectionEngine/HikvisionDetectionEngineInstaller/Debug
ramalan_detection_engine/HikvisionDetectionEngine/HikvisionDetectionEngineInstaller/Release

ramalan_detection_engine/SenstarDetectionEngine/.vs
ramalan_detection_engine/SenstarDetectionEngine/SenstarDetectionEngine/bin
ramalan_detection_engine/SenstarDetectionEngine/SenstarDetectionEngine/obj
ramalan_detection_engine/SenstarDetectionEngine/SenstarDetectionEngineConsole/bin
ramalan_detection_engine/SenstarDetectionEngine/SenstarDetectionEngineConsole/obj
ramalan_detection_engine/SenstarDetectionEngine/SenstarDetectionEngineService/bin
ramalan_detection_engine/SenstarDetectionEngine/SenstarDetectionEngineService/obj
ramalan_detection_engine/SenstarDetectionEngine/SenstarDetectionEngineInstaller/Debug
ramalan_detection_engine/SenstarDetectionEngine/SenstarDetectionEngineInstaller/Release


ramalan_reporting_services/ramalanreportingservices/inputs/*
ramalan_reporting_services/ramalanreportingservices/outputs/*
ramalan_reporting_services/ramalanreportingservices.egg-info/*

ramalan_footage_tools/RamalanHikMediaManager/.vs
ramalan_footage_tools/RamalanHikMediaManager/HikMediaManagerLibrary/bin
ramalan_footage_tools/RamalanHikMediaManager/HikMediaManagerLibrary/obj
ramalan_footage_tools/RamalanHikMediaManager/HikMediaManagerConsole/bin
ramalan_footage_tools/RamalanHikMediaManager/HikMediaManagerConsole/obj
ramalan_footage_tools/RamalanHikMediaManager/HikMediaManagerService/bin
ramalan_footage_tools/RamalanHikMediaManager/HikMediaManagerService/obj

ramalan_bridge/HikCentralRamalanBridge/.vs
ramalan_bridge/HikCentralRamalanBridge/HikCentralOpenAPI/bin
ramalan_bridge/HikCentralRamalanBridge/HikCentralOpenAPI/obj
ramalan_bridge/HikCentralRamalanBridge/HikCentralRamalanBridge/bin
ramalan_bridge/HikCentralRamalanBridge/HikCentralRamalanBridge/obj
ramalan_bridge/HikCentralRamalanBridge/HikCentralRamalanBridgeConsole/bin
ramalan_bridge/HikCentralRamalanBridge/HikCentralRamalanBridgeConsole/obj
ramalan_bridge/HikCentralRamalanBridge/HikCentralRamalanBridgeService/bin
ramalan_bridge/HikCentralRamalanBridge/HikCentralRamalanBridgeService/obj
ramalan_bridge/HikCentralRamalanBridge/HikCentralVideoSDK/bin
ramalan_bridge/HikCentralRamalanBridge/HikCentralVideoSDK/obj
ramalan_bridge/HikCentralRamalanBridge/HikCentralRamalanBridgeInstaller/Debug
ramalan_bridge/HikCentralRamalanBridge/HikCentralRamalanBridgeInstaller/Release

ramalan_dotnet_library/RamalanDotNetLibrary/.vs
ramalan_dotnet_library/RamalanDotNetLibrary/RamalanDotNetLibrary/bin
ramalan_dotnet_library/RamalanDotNetLibrary/RamalanDotNetLibrary/obj
